<ion-header>

</ion-header>

<ion-content>
  <figure class="profile-default-image ion-text-center">
    <p>Ingresa tus datos</p>
    <img src="assets/images/user.png">
  </figure>
  <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">
    <ion-item>
      <ion-input label="Email" labelPlacement="stacked" placeholder="Escribe tu email" formControlName="email"></ion-input>
    </ion-item>
    <!-- [Tarea]: utilizar para darle estilo a como muestro el mensaje-->
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div 
        class="error-message"
        *ngIf="(
          loginForm.get('email')?.hasError(validation.type) && loginForm.get('email')?.dirty
        )"
        >{{validation.message}}</div>
      </ng-container>
    </div>
    <!-- [Tarea]: Mostrar mensajes de error en la validacion del campo password-->
    <ion-item>
      <!-- [Tarea]: Cambiar input a password-->
      <ion-input type="password" label="Contraseña" labelPlacement="stacked" placeholder="Escribe tu contraseña" formControlName="password"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div 
        class="error-message"
        *ngIf="(
          loginForm.get('password')?.hasError(validation.type) && loginForm.get('password')?.dirty
        )"
        >{{validation.message}}</div>
      </ng-container>
    </div>

    <ion-button
    expand="full"
    shape="round"
    color="success"
    [disabled]="!loginForm.valid"
    type="submit"
    >
      Login
    </ion-button>
  </form>
  <div *ngIf="errorMessage" class="error-message-general">
    {{errorMessage}}
  </div>
  
  <!-- Enlace para ir al registro -->
  <div class="register-link">
    <p>¿No tienes cuenta?</p>
    <ion-button fill="clear" color="light" (click)="goToRegister()">
      Crear cuenta
    </ion-button>
  </div>
</ion-content>
